In [1]:
marks=[11.25,18.0,20.0,10.75]

In [3]:
for abc in marks:
    
    print(abc)

11.25
18.0
20.0
10.75

In [5]:
list(enumerate(marks))

[(0, 11.25), (1, 18.0), (2, 20.0), (3, 10.75)]

In [18]:
for index,mark in enumerate(marks):
    print("Test Index " + str(index) + " Marks Obtained " + str(mark))

Test Index 0 Marks Obtained 11.25
Test Index 1 Marks Obtained 18.0
Test Index 2 Marks Obtained 20.0
Test Index 3 Marks Obtained 10.75

In [10]:
"compund interest" + "compund interest"

'compund interestcompund interest'

In [15]:
"compund interest" + str(True)

'compund interestTrue'

In [21]:
number=1

In [22]:
while number<11:
    print(number)
    number=number+1

1
2
3
4
5
6
7
8
9
10

In [29]:
cricket=[
    ["Rohit",59],
    ["KL Rahul", 75],
    ["Virat Kohli",103],
    ["Shreyash Iyer",35],
    ["Dhoni",30]
]

In [30]:
for x in cricket:
    print("Batsman " + x[0] + " scored "+ str(x[1]))

Batsman Rohit scored 59
Batsman KL Rahul scored 75
Batsman Virat Kohli scored 103
Batsman Shreyash Iyer scored 35
Batsman Dhoni scored 30

In [33]:
for x in cricket:
    print(x[1])

59
75
103
35
30

In [34]:
cricketscores={"Rohit":59,"KL Rahul": 75,"Virat Kohli":103,"Shreyash Iyer":35,"Dhoni":30}

In [36]:
for key,value in cricketscores.items():
    print(key + " "+ str(value))

Rohit 59
KL Rahul 75
Virat Kohli 103
Shreyash Iyer 35
Dhoni 30

In [37]:
cricketscores.keys()

dict_keys(['Rohit', 'KL Rahul', 'Virat Kohli', 'Shreyash Iyer', 'Dhoni'])

In [38]:
cricketscores.values()

dict_values([59, 75, 103, 35, 30])

In [41]:
import numpy as np

In [42]:
np_scores=np.array([59,75,103,35,30])

In [43]:
np_scores.ndim

1

In [44]:
for x in np_scores:
    print(x)

59
75
103
35
30

In [45]:
np_test=np.array([
    [74,180],
    [72,45],
    [24,14],
    [32,98]
])

In [46]:
np_test.ndim

2

In [52]:
for x in np_test:
    print("1st Innings: "+ str(x[0])+ " Second innings: "+ str(x[1]))

1st Innings: 74 Second innings: 180
1st Innings: 72 Second innings: 45
1st Innings: 24 Second innings: 14
1st Innings: 32 Second innings: 98

In [53]:
for x in np_test:
    print("1st Innings: ", x[0], " Second innings: ",x[1])

1st Innings:  74  Second innings:  180
1st Innings:  72  Second innings:  45
1st Innings:  24  Second innings:  14
1st Innings:  32  Second innings:  98

In [51]:
for x in np.nditer(np_test):
    print(x)

74
180
72
45
24
14
32
98

In [54]:
import pandas as pd

In [92]:
cars=pd.read_csv("cars.csv",index_col=0)

In [88]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [64]:
cars.loc["US","cars_per_cap"]=809

In [65]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [72]:
for label,rowdata in cars.iterrows():

    print(label,rowdata["cars_per_cap"])

US 809
AUS 731
JAP 588
IN 18
RU 200
MOR 70
EG 45

In [83]:
for label,rowdata in cars.iterrows():
    cars.loc[label,"COUNTRY"]= rowdata["country"].upper()

In [84]:
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

In [95]:
cars["Rating"]=cars["country"].apply(str.upper)

In [96]:
print(cars)

     cars_per_cap        country  drives_right         Rating
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

In [100]:
cars.country.apply(str.upper)

US     UNITED STATES
AUS        AUSTRALIA
JAP            JAPAN
IN             INDIA
RU            RUSSIA
MOR          MOROCCO
EG             EGYPT
Name: country, dtype: object

In [102]:
cars["country"].apply(str.upper)

US     UNITED STATES
AUS        AUSTRALIA
JAP            JAPAN
IN             INDIA
RU            RUSSIA
MOR          MOROCCO
EG             EGYPT
Name: country, dtype: object

In [103]:
def shout():
    '''   Print a string with three exclamation marks'''
    shout_word='congratulations'+ "!!!"
    print(shout_word)

In [104]:
shout()

congratulations!!!

In [113]:
congratulations="harikant"

In [118]:
def shout(word):
    '''   Print a string with three exclamation marks'''
    shout_word=str(word)+ "!!!"
    print(shout_word)

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [131]:
shoutreturned=shout(10)

In [132]:
shoutreturned

'10!!!'

In [128]:
def shout1(word):
    '''   Print a string with three exclamation marks'''
    shout_word=str(word)+ "!!!"
    return shout_word

In [129]:
returnedvalue=shout1("congratulations")

In [130]:
returnedvalue

'congratulations!!!'

In [139]:
def sample(abc):
    pqr=str(abc)+ "!!!"
    print(pqr)
    return pqr

In [141]:
sample("congrats")

congrats!!!

'congrats!!!'

In [151]:
xyzdf=sample("rtewrtnjrgt")

rtewrtnjrgt!!!

In [143]:
print(xyzdf)

congrats!!!

In [144]:
def sample1():
    a=1*1

In [147]:
sample1()

In [152]:
def letter(word1,word2):
    """ Concatenate strings with three exclamation marks"""
    shout1=word1 + "!!!"
    shout2=word2 + "!!!"
    new_shout=shout1+ shout2
    return new_shout

In [158]:
yell=letter(word2="congratulations",word1="you")

In [157]:
print(yell)

you!!!congratulations!!!

In [159]:
nums=(3,4,6)

In [160]:
type(nums)

tuple

In [161]:
num1,num2,num3=nums

In [171]:
def shout_all(words1,words2):
    """Retrun a tuple of strings"""
    shouts1=words1+ "!!!"
    shout2=words2+ "!!!"
    shout_words=(shouts1,shout2)
    return (shouts1,shout2)

In [173]:
yell11,yell12=shout_all("congratulations","you")

In [174]:
yell11

'congratulations!!!'

In [175]:
yell12

'you!!!'

In [176]:
df=pd.read_csv("tweets.csv")

In [178]:
print(df.head())

   contributors  coordinates                      created_at  \
0           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
1           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
2           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
3           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
4           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016

                                            entities  \
0  {'hashtags': [], 'user_mentions': [{'screen_na...
1  {'hashtags': [{'text': 'cruzsexscandal', 'indi...
2  {'hashtags': [], 'user_mentions': [], 'symbols...
3  {'hashtags': [], 'user_mentions': [], 'symbols...
4  {'hashtags': [], 'user_mentions': [{'screen_na...

                                   extended_entities  favorite_count  \
0  {'media': [{'sizes': {'large': {'w': 1024, 'h'...               0
1  {'media': [{'sizes': {'large': {'w': 500, 'h':...               0
2                                                NaN               0
3                                                NaN               0
4                                                NaN               0

   favorited filter_level  geo                  id  \
0      False          low  NaN  714960401759387648
1      False          low  NaN  714960401977319424
2      False          low  NaN  714960402426236928
3      False          low  NaN  714960402367561730
4      False          low  NaN  714960402149416960

                         ...                          quoted_status_id  \
0                        ...                                       NaN
1                        ...                                       NaN
2                        ...                                       NaN
3                        ...                              7.149239e+17
4                        ...                                       NaN

  quoted_status_id_str  retweet_count  retweeted  \
0                  NaN              0      False
1                  NaN              0      False
2                  NaN              0      False
3         7.149239e+17              0      False
4                  NaN              0      False

                                    retweeted_status  \
0  {'retweeted': False, 'text': ".@krollbondratin...
1  {'retweeted': False, 'text': '@dmartosko Cruz ...
2                                                NaN
3                                                NaN
4  {'retweeted': False, 'text': 'The anti-America...

                                              source  \
0  <a href="http://twitter.com" rel="nofollow">Tw...
1  <a href="http://twitter.com" rel="nofollow">Tw...
2  <a href="http://www.facebook.com/twitter" rel=...
3  <a href="http://twitter.com/download/android" ...
4  <a href="http://twitter.com/download/iphone" r...

                                                text   timestamp_ms truncated  \
0  RT @bpolitics: .@krollbondrating's Christopher...  1459294817758     False
1  RT @HeidiAlpine: @dmartosko Cruz video found.....  1459294817810     False
2  Njihuni me ZonjÃ«n Trump !!! | Ekskluzive http...  1459294817917     False
3  Your an idiot she shouldn't have tried to grab...  1459294817903     False
4  RT @AlanLohner: The anti-American D.C. elites ...  1459294817851     False

                                                user
0  {'utc_offset': 3600, 'profile_image_url_https'...
1  {'utc_offset': None, 'profile_image_url_https'...
2  {'utc_offset': 7200, 'profile_image_url_https'...
3  {'utc_offset': None, 'profile_image_url_https'...
4  {'utc_offset': -18000, 'profile_image_url_http...

[5 rows x 31 columns]

In [179]:
df.columns

Index(['contributors', 'coordinates', 'created_at', 'entities',
       'extended_entities', 'favorite_count', 'favorited', 'filter_level',
       'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'retweet_count',
       'retweeted', 'retweeted_status', 'source', 'text', 'timestamp_ms',
       'truncated', 'user'],
      dtype='object')

In [202]:
langs_count={}

In [203]:
col=df["lang"]

In [204]:
langs_count.keys()

dict_keys([])

In [205]:
for entry in col:
    if entry in langs_count.keys():
        langs_count[entry] =langs_count[entry]+ 1
    else:
        langs_count[entry]=1

In [206]:
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [216]:
def count_entries(dataframe,col_name):
    langs_count={}
    col=dataframe[col_name]
    for entry in col:
        if entry in langs_count.keys():
            langs_count[entry]+=1
        else:
            langs_count[entry]=1
    return langs_count

In [217]:
result=count_entries(df,"lang")

In [218]:
print(result)

{'en': 97, 'et': 1, 'und': 2}

In [219]:
df["lang"].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64